Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [11]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
# Calling fucction b prints 0. Now the value of a is 2
b()
## Calling fucction b prints 2. Now the value of a is 4
b()
## Calling fucction b prints 4. Now the value of a is 6
a
#Now the value is 6 so it prints 6

6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [32]:
def fileLength(str):
    try:
        with open('/Users\we\Desktop\Filelength.txt') as f:
            file = open(str) 
            contents = file.read()
            file.close()
            print(len(contents)) # if file exists
    except IOError:
        print("I am sorry, No such File Directory exists") #If file doesn't exists

fileLength('/Users\we\Desktop\Filelength.txt')

123

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [38]:
m1 = Marsupial()
m1.List()
m1.put_in_pouch('doll')
m1.put_in_pouch('firetruck')
m1.put_in_pouch('kitten')
m1.pouch_contents()
k1 = Kangaroo(0,0)
#prints('I am a Kangaroo located at coordinates : {},{}' 
print(k1)
k1.List()
k1.put_in_pouch('doll')
k1.put_in_pouch('firetruck')
k1.put_in_pouch('kitten')
k1.pouch_contents()
k1.jump(1,0)
k1.jump(1,0)
k1.jump(1,0)
#prints('I am a Kangaroo located at coordinates : {},{}')
print(k1)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates : 0,0
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates : 3,0

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [40]:
f = True
def collatz(x):
    global f
    if x == 1:
        if f == True:
            print('1')
            return
        else:
            y = 1
    else:
        f = False
        if x%2==0:
            x = x//2 
            print(x)
            collatz(x)
        else:
            x = 3*x + 1
            print(x)
            collatz(x)
            
collatz(1)
print('\n')
collatz(10)

1


5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [41]:
def binary(n):
     
    if n < 2:
        print("\n{}".format(n))
    else:
        binary(int(n / 2))
        print(int(n % 2))
                  

binary(0)
binary(1)
binary(3)
binary(9)

0

1

1
1

1
0
0
1

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [57]:
from html.parser import HTMLParser 

class headingparser(HTMLParser): 
    def __init__(self): 
        self.flag = False 
        self.indent = 0 
        self.stack = [] 
        super().__init__()

    def handle_starttag(self, tag, attrs): 
        if(tag[0] == 'h' and tag[1] <='6' and tag[1] > '0' and len(tag) == 2): 
            self.stack.append("") 

    def handle_endtag(self, tag):
        if (tag[0] == 'h' and tag[1] <= '6' and tag[1] > '0' and len(tag) == 2):
            indent = int(tag[1]) - 1  
            for i in range(0,indent):
                print("\t",end="")
            print(self.stack.pop())

    def handle_data(self, data): 
        if(len(self.stack) != 0): 
            str = self.stack.pop()
            str+=data 
            self.stack.append(str)

with open('/Users\we\Desktop\w3c.html') as f: 

            file = open('/Users\we\Desktop\w3c.html')
            contents = file.read()
            file.close()
            obj = headingparser() 
            obj.feed(contents)

W3C Mission
	Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [62]:
from html.parser import HTMLParser 
from urllib.parse import urljoin 
class Collector(HTMLParser): 
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_startag(self,tag,attrs): 
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url,attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    def getLinks(self):
        return self.links

from urllib.request import urlopen 
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

visited = set()
def webdir(url,depth,indent): 
    global visited
    if depth == 0:
        return
    print(' '*indent,url)
    indent += 1
    depth -= 1
    visited.add(url)
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                webdir(link,depth,indent)
            except:
                pass
webdir('https://reed.cs.depaul.edu/lperkovic', 2, 0)

 https://reed.cs.depaul.edu/lperkovic

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

#Created the SQL table

%sql create table Temp(City varchar(100),Country varchar(100),Season varchar(100),Temperature_C float ,Rainfall_mm float );
%sql insert into Temp values('Mumbai','India', 'Winter',24.8,5.9);
%sql insert into Temp values('Mumbai','India', 'Spring',28.4,16.2);
%sql insert into Temp values('Mumbai','India', 'Summer',27.9,1549.4);
%sql insert into Temp values('Mumbai','India', 'Fall',27.6,346.0);
%sql insert into Temp values('London','United Kingdom', 'Winter',4.2,207.7);
%sql insert into Temp values('London','United Kingdom', 'Spring',8.3,169.6);
%sql insert into Temp values('London','United Kingdom', 'Summer',15.7,157.0);
%sql insert into Temp values('London','United Kingdom', 'Fall',10.4,218.5);
%sql insert into Temp values('Cairo','Eqypt', 'Winter',13.6,16.5);
%sql insert into Temp values('Cairo','Eqypt', 'Spring',20.7,6.5);
%sql insert into Temp values('Cairo','Eqypt', 'Summer',27.7,0.1);
%sql insert into Temp values('Cairo','Eqypt', 'Fall',22.2,4.5);

In [7]:
%sql SELECT * from Temp #a) Showing the Table Temp

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Eqypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Eqypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

In [8]:
 # a) All the temperature data.
%sql SELECT Temperature_c from Temp

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [9]:
#b) All the cities, but without repetition

%sql select City from Temp group by City;

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

In [11]:
#All the records for India.
%sql select * from Temp where Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [12]:
#d) All the Fall records
%sql select * from Temp where Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

In [13]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
%sql select City, Country,Season from Temp where Rainfall_mm between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [17]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
%sql select City, Country from Temp where Season = 'Fall' and Temperature_C > 20 order by Temperature_C;

 * sqlite://
Done.

[('Cairo', 'Eqypt'), ('Mumbai', 'India')]

In [18]:
#g) The total annual rainfall for Cairo
%sql select sum(Rainfall_mm) from Temp where City = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [19]:
#h) The total rainfall for each season.
%sql select Season, sum(Rainfall_mm) from Temp group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [94]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


for i in range(len(words)):
    words[i] = words[i].lower()
print(words)

for i in range(len(words)):
    words[i] = words[i].upper()
print(words)

for i in range(len(words)):
    words[i] = len(words[i])
print(words)

words1 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
str = [[w.upper(), w.lower() , len(w)] for w in words1] 
print(str)

words2 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
str = [w for w in words2 if len(w) > 3] 
print(str)

words3 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
str = [w for w in words3 if len(w) > 3]
print(str)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']
['quick', 'brown', 'jumps', 'over', 'lazy']